<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="CreateNav">
    <div>Khaatabook</div>
    <div class="navdiv"><a href="/">Home</a>
        <a href="/create">Create New Hisab</a>
    
    </div>
    
    </nav>
    <form method="post" action="/create/khatabook">
    <div class="bottom-Create-div">
        <div><h2>Create New Hisab</h2></div>
        <div><input placeholder="Enter the input" name="Createinput" id="Createinput" type="text"></div>
        <div><textarea name="Textarea" id="createText" placeholder="Enter your task"></textarea></div>
        <div><button type="submit" id="create-button">Create New Hisab</button></div>
    </div>
</form>
</body>
</html>